<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styleSheet/default-colors/colorDefault.css">
    <link rel="stylesheet" href="/public/styleSheet/default-config/config.css">
    <link rel="stylesheet" href="/public/styleSheet/default-fontStyle/default-fontFamily.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-input.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/container-poupup.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-gif-load.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/circle-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/radius-btn.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/control-button.css">
    <link rel="stylesheet" href="/public/styleSheet/views-styleSheets/home.css">
    <link rel="stylesheet" href="/public/styleSheet/views-styleSheets/addLocalStart.css">
</head>
<body style="background-color: #f8f8f8;">
    <div class="container-main">
        <div class="container-header">
            <div class="btn-navigaor">
                <a href="/views/home.html"><button id="btnBack" class="navigatio-button"><img src="/public/img/ico/icons8_Close_32.png" alt=""></button></a>
                <a href=""><button class="navigatio-button" id="buyButton"><img src="" alt=""></button></a>
            </div>
            <h4 class="color-default-silver">
                Gerencie seus cartões de crédito
            </h3>
        </div>
        <div class="container-input">
            <div class="content-input">
                <input placeholder="nome do titular" class="input" type="text">
            </div>
            <div class="content-input">
                <input placeholder="Nº do cartão" class="input" type="text">
            </div>
            <div class="content-input">
                <input placeholder="MM/AA" class="input" type="text">
            </div>
            <div class="content-input">
                <input placeholder="CVV" class="input" type="text">
            </div>
        </div>
        <button style="background-color: tomato; color: white; height: 50px; box-shadow: 0px 0px 7px rgba(0,0,0,0.1);" id="btnCriar" class="radius-btn">Criar</button>
        <div class="container-column-data">

            <table >
                <tr>
                    <td class="center"><input type="radio"></td>
                    <td><span>Pai</span></td>
                    <td class="center"><button class="navigatio-button"><img class="imgData" src="/public/img/ico/icons8_trash_can_32.png" alt=""></button></td>
                    <td><button class="navigatio-button"><img class="imgData" src="/public/img/ico/icons8_edit_32.png" alt=""></button></td>
                </tr>
                <tr>
                    <td class="center"><input type="radio"></td>
                    <td><span>Meu</span></td>
                    <td class="center"><button class="navigatio-button"><img class="imgData" src="/public/img/ico/icons8_trash_can_32.png" alt=""></button></td>
                    <td><button class="navigatio-button"><img class="imgData" src="/public/img/ico/icons8_edit_32.png" alt=""></button></td>
                </tr>
                <tr>
                    <td class="center"><input type="radio"></td>
                    <td><span>empresa</span></td>
                    <td class="center"><button class="navigatio-button"><img class="imgData" src="/public/img/ico/icons8_trash_can_32.png" alt=""></button></td>
                    <td><button class="navigatio-button"><img class="imgData" src="/public/img/ico/icons8_edit_32.png" alt=""></button></td>
                </tr>
                <tr>
                    <td class="center"><input type="radio"></td>
                    <td><span>empresa</span></td>
                    <td class="center"><button class="navigatio-button"><img class="imgData" src="/public/img/ico/icons8_trash_can_32.png" alt=""></button></td>
                    <td><button class="navigatio-button"><img class="imgData" src="/public/img/ico/icons8_edit_32.png" alt=""></button></td>
                </tr>
                <tr>
                    <td class="center"><input type="radio"></td>
                    <td><span>empresa</span></td>
                    <td class="center"><button class="navigatio-button"><img class="imgData" src="/public/img/ico/icons8_trash_can_32.png" alt=""></button></td>
                    <td><button class="navigatio-button"><img class="imgData" src="/public/img/ico/icons8_edit_32.png" alt=""></button></td>
                </tr>
               
            </table>
        </div>
    </div>
</body>
</html>