<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/public/styleSheet/default-colors/colorDefault.css">
    <link rel="stylesheet" href="/public/styleSheet/default-config/config.css">
    <link rel="stylesheet" href="/public/styleSheet/default-fontStyle/default-fontFamily.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-input.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/container-poupup.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-gif-load.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/circle-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/radius-btn.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/control-button.css">
    <link rel="stylesheet" href="/public/styleSheet/views-styleSheets/cart.css">
</head>
<body>
    <div class="container-main">
        <div class="container-header">
            <div class="btn-navigaor">
                <button id="btnBack" class="control-button"><img src="/public/img/ico/icons8_Close_32.png" alt=""></button>
                <a href="/views/addLocation.html"><button class="control-button" id="buyButton">Comprar</button></a>
            </div>
            <div class="content-info">
                <h3 class="color-default-tomato">Prrodutos no <br> carrinho</h5>
                <h3 id="total" class="color-default-tomato">Total: 7500, 00kz</h5>
            </div>
        </div>
        <div class="container-products-cart">
            <div class="select">
                <h4 class="color-default-tomato">Selecionar todos <input id="selectAll" type="checkbox" class="checkbox" name="" id=""></h4>
            </div>
            <div id="containerPizzaColumn" class="container-pizza-column">
                <div onclick="selected(this)" class="container-pizza">
                    <div style="background-color: rgb(204, 204, 204);" class="content-pizza">
                        <div class="info">
                            <div class="info-txt">
                                <h4 class="color-white"> Pizza margarine</h4>
                                <h4 class="color-white">4500, 00kz</h4>
                            </div>
                            <div style="display: none;" class="content-number" >
                                <button class="btnNumber">-</button>
                                <h5 class="txt-number">1</h5>
                                <button class="btnNumber">+</button>

                            </div>
                        </div>
                        <img class="big-pizza" src="/public/img/pizza/pizza18.jpg" alt="">
                    </div>
                </div>
                <div onclick="selected(this)" class="container-pizza">
                    <div  class="content-pizza">
                        <div class="info">
                            <div class="info-txt">
                                <h4 class="color-white"> Pizza margarine</h4>
                                <h4 class="color-white">4500, 00kz</h4>
                            </div>
                            <div class="content-number">
                                <button class="btnNumber">-</button>
                                <h5 class="txt-number">1</h5>
                                <button class="btnNumber">+</button>

                            </div>
                        </div>
                        <img class="big-pizza" src="/public/img/pizza/pizza11.jpg" alt="">
                    </div>
                </div>
                <div onclick="selected(this)" class="container-pizza">
                    <div style="background-color: rgb(204, 204, 204);" class="content-pizza">
                        <div class="info">
                            <div class="info-txt">
                                <h4 class="color-white"> Pizza margarine</h4>
                                <h4 class="color-white">4500, 00kz</h4>
                            </div>
                            <div style="display: none;" class="content-number" >
                                <button class="btnNumber">-</button>
                                <h5 class="txt-number">1</h5>
                                <button class="btnNumber">+</button>

                            </div>
                        </div>
                        <img class="big-pizza" src="/public/img/pizza/pizza4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const btnBack = document.getElementById("btnBack")
        const total = document.getElementById("total")
        const selectAll = document.getElementById("selectAll")
        const containerPizzaColumn = document.getElementById("containerPizzaColumn")
        selectAll.addEventListener("change", () => {
            if(selectAll.checked)
            {
                for (let i = 0; i < containerPizzaColumn.children.length; i++) {
                    containerPizzaColumn.children[i].children[0].children[0].children[1].style.display = "flex"
                    containerPizzaColumn.children[i].children[0].style.backgroundColor = "tomato";
                }

            }else{
                for (let i = 0; i < containerPizzaColumn.children.length; i++) {
                    containerPizzaColumn.children[i].children[0].children[0].children[1].style.display = "none"
                    containerPizzaColumn.children[i].children[0].style.backgroundColor = "silver";
                }
            }
        })
        function selected(element) {            
            if(element.children[0].style.backgroundColor == "tomato"){
                element.children[0].style.backgroundColor = "silver"
                element.children[0].children[0].children[1].style.display = "none"
            }else{
                element.children[0].style.backgroundColor = "tomato"
                element.children[0].children[0].children[1].style.display = "flex"
                element.children[0].children[0].children[1].style.transition = "1s"

            }
            
        }
        btnBack.addEventListener("click", () => {
            window.location.href = "/views/home.html"
        })

    </script>
</body>
</html>