<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styleSheet/default-colors/colorDefault.css">
    <link rel="stylesheet" href="/public/styleSheet/default-config/config.css">
    <link rel="stylesheet" href="/public/styleSheet/default-fontStyle/default-fontFamily.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-input.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/container-poupup.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-gif-load.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/circle-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/radius-btn.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/control-button.css">
    <link rel="stylesheet" href="/public/styleSheet/views-styleSheets/order.css">
</head>
<body style="background-color: #f8f8f8;">
    
    <div class="container-main">
        <div class="container-header">
            <div class="btn-navigaor">
                <a style="position:relative; top: 0px;" href="/views/home.html"><button  class="navigatio-button"><img src="/public/img/ico/icons8_Close_32.png" alt=""></button></a>
                <button class="navigatio-button"></button>
            </div>
            <div class="container-controllers-list">
                <div class="content-how-many-orders">
                    <h3>Favoritos</h3>
                    <h5 style="background-color: tomato; color: white; border-radius: 100%; padding: 9px;" >10</h4>
                </div>
                <div class="content-agrup-order">
                    <h4 class="color-default-silver">Ordenar por</h4>
                    <button class="navigatio-button" onclick="openGroupBy()"> <img src="/public/img/ico/icons8_list_4.ico" alt=""></button>
                    <div id="containerGroupBy" class="container-groupBy">
                        <div class="pointer">
                        </div>
                        <div class="content-groupBy">
                            <h5>Dia</h4>
                            <h5>Semana</h4>
                            <h5>Mês</h4>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <div class="container-deliver">
            <div onclick="showDeliverInfo()" class="content-deliver">
                <div class="orders">
                    <h4 class="color-default-silver">Entregas</h4>
                    <h2 class="color-default-tomato">23</h2>
                </div>
                <div class="info">
                    <h4 class="color-default-tomato">Leonardo Jorge</h4>
                    <div id="contentRate" class="container-rate">
                        <img src="/public/img/ico/icons8_starp_16.png" alt="">
                        <img src="/public/img/ico/icons8_starp_16.png" alt="">
                        <img src="/public/img/ico/icons8_starp_16.png" alt="">
                        <img src="/public/img/ico/icons8_star_filleds_16.png" alt="">
                        <img src="/public/img/ico/icons8_star_filleds_16.png" alt="">
                        
                    </div>
                </div>
                <div class="photo">
                    <img style="border-radius: 100%;" width="60px" height="60px" src="/public/img/people/Red-Skull-Allied-Charge-on-Hydra-Premium-Format-01.jpg" alt="">
                </div>
            </div>
            <div onclick="showDeliverInfo()" class="content-deliver">
                <div class="orders">
                    <h4 class="color-default-silver">Entregas</h4>
                    <h2 class="color-default-tomato">23</h2>
                </div>
                <div class="info">
                    <h4 class="color-default-tomato">Leonardo Jorge</h4>
                    <div id="contentRate" class="container-rate">
                        <img src="/public/img/ico/icons8_starp_16.png" alt="">
                        <img src="/public/img/ico/icons8_starp_16.png" alt="">
                        <img src="/public/img/ico/icons8_starp_16.png" alt="">
                        <img src="/public/img/ico/icons8_star_filleds_16.png" alt="">
                        <img src="/public/img/ico/icons8_star_filleds_16.png" alt="">
                        
                    </div>
                </div>
                <div class="photo">
                    <img style="border-radius: 100%;" width="60px" height="60px" src="/public/img/people/Red-Skull-Allied-Charge-on-Hydra-Premium-Format-01.jpg" alt="">
                </div>
            </div>
            

        </div>
    </div>
</body>
</html>