<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styleSheet/default-colors/colorDefault.css">
    <link rel="stylesheet" href="/public/styleSheet/default-config/config.css">
    <link rel="stylesheet" href="/public/styleSheet/default-fontStyle/default-fontFamily.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-input.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/container-poupup.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-gif-load.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/circle-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/radius-btn.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/control-button.css">
    <link rel="stylesheet" href="/public/styleSheet/views-styleSheets/home.css">
</head>
<body style="background-color: #f8f8f8;">
    <div class="container-main">
        <div class="container-header">
            <div class="btn-navigaor">
                <button onclick="openMenu()" class="navigatio-button"><img src="/public/img/ico/icons8_squared_menu_32.png" alt=""></button>
                <a href="/views/cart.html"><button class="navigatio-button"><img src="/public/img/ico/icons8_shopping_cartt_32.png" alt=""></button></a>
            </div>
            <div class="content-location">
                <img src="/public/img/ico/icons8_Location_32.png" alt="">
                <h5 class="color-default-tomato">Angola, Luanda</h5>

            </div>
            <div class="content-input">
                <img src="/public/img/ico/icons8_search_16.png" alt="">
                <input class="input" placeholder="pesquisar" type="text">

            </div>

        </div>
        <div  class="container-category">
            <div class="content-category">
                <button class="circle-btn-default"> <img src="/public/img/ico/icons8_commercial_32.png" alt=""></button>
                <h6 class="color-default-tomato">Promoção</h6>

            </div>
            <div class="content-category">
                <button class="circle-btn-silver"> <img src="/public/img/ico/icons8_commercial_32.png" alt=""></button>
                <h6 class="color-default-silver">Promoção</h6>

            </div>
            <div class="content-category">
                <button class="circle-btn-silver"> <img src="/public/img/ico/icons8_commercial_32.png" alt=""></button>
                <h6 class="color-default-silver">Promoção</h6>

            </div>
            <div class="content-category">
                <button class="circle-btn-silver"> <img src="/public/img/ico/icons8_commercial_32.png" alt=""></button>
                <h6 class="color-default-silver">Promoção</h6>

            </div>
            <div class="content-category">
                <button class="circle-btn-silver"> <img src="/public/img/ico/icons8_commercial_32.png" alt=""></button>
                <h6 class="color-default-silver">Promoção</h6>

            </div>
        </div>
        <div id="containerSuge" class="container-suge">
            
        </div>
        <div id="containerAllPizza" class="container-all-pizza"> </div>
            
        </div>
        <h4 class="color-default-tomato">Promoção</h4>
    </div>
    <nav id="containerInfo" class="container-info">
       
    </nav>
    <section id="containerMenu" class="container-menu">
        <div class="container-header">
            <div class="btn-navigaor">
                <button onclick="closeMenu()" class="navigatio-button"><img src="/public/img/ico/icons8_Close_32.png" alt=""></button>
                <a href=""><button class="navigatio-button"><img src="" alt=""></button></a>
            </div>
        </div>
        <div class="container-user-info">
            <div class="content-user-photo">
                <img src="/public/img/ico/icons8_user_64.png" alt="">
            </div>
            <div class="content-user-info1">
                <p>Nome: Leonardo Jorge</p>
                <p>Email: lonardo@gmail.com</p>
                <p>ID: 2bd-h7db7d-f8d-8fdfg-dd</p>
                <p>Numero 956096907</p>

            </div>

        </div>
        <div class="container-user-order-info">
            <div class="content-user-info-row">
                <div class="content-user-info">
                    <img width="40px" height="40px" src="/public/img/ico/icons8_order_history_48.png" alt="">
                    <h6>Historico</h5>
                </div>
                <div class="content-user-info">

                </div>
                <div class="content-user-info">
                    <div class="container-circle">
                        <div class="content-circle">
                            <h4>0%</h4>
                        </div>

                    </div>
                    <h6>faça mais </h6>
                </div>

            </div>
            <div class="content-view-order">
                <img width="40px" height="40px" src="/public/img/ico/icons8_order_historyw_48.png" alt="">
                <div class="view-order-info">
                    <h4 style="display: flex; justify-content: right;">Pedidos</h4>
                    <h6>Faça mais pedidos para receber descontos</h6>
                </div>
                <h2>7</h3>
            </div>
            <div class="content-user-info-row">
                <div class="content-mannager-info">
                    <img src="/public/img/ico/icons8_heartt_32.png" alt="">
                    <h6>Favoritos</h5>
                </div>
                <div class="content-mannager-info">
                    <img src="/public/img/ico/icons8_place_marker_48.png" alt="">
                    <h6>Locais de entrega</h5>
                </div>
                <div class="content-mannager-info">
                    <img src="/public/img/ico/icons8_card_exchange_48.png" alt="">
                    <h6>Cartões de credito</h5>
                </div>
            </div>
        </div>
    </section>
    <script>
        const imgSuge = document.getElementById("img-suge")
        const containerAllPizza = document.getElementById("containerAllPizza");
        const containerInfo = document.getElementById("containerInfo")
        const btnCloseInfo = document.getElementById("btnCloseInfo")
        const containerSize = document.getElementById("containerSize") 
        const price = document.getElementById("price")
        const btnPedir = document.getElementById("btnPedir")
        const containerMenu = document.getElementById("containerMenu")

        const tamanho = [ 6, 12,24 ]
        const pizza = 
            {
                product: 
                [
                    {
                        category: "vegana",
                        pizzas: [
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza1.png" , nome: "pizza Margarine", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"},
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza2.png" , nome: "pizzatomato", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza3.png" , nome: "pizza de atum", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza4.png" , nome: "pizza omelete", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza5.png" , nome: "pizza de pão", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                        ]

                    },
                    {
                        category: "Vegetariana",
                        pizzas: [
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza6.png" , nome: "pizza de marisco", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"},
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza7.png" , nome: "pizza de camarão", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza8.png" , nome: "pizza vegana", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza9.jpg" , nome: "pizza de sardinha", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza10.jpg" , nome: "pizza de ovo", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                        ]
                    },
                    {
                        category: "Frutos do mar",
                        pizzas: [
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza11.jpg" , nome: "pizza de salomão", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"},
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza12.jpg" , nome: "pizza de Carne ", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza13.jpg" , nome: "pizza de queijo", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza14.jpg" , nome: "pizza de marisco", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                            { id: parseInt(Math.random()* 9000), path: "/public/img/pizza/pizza15.jpg" , nome: "pizza de Legumes", preco: parseInt(Math.random() * 10000), avaliacao: parseInt(Math.random() * 6) , descricao: "Esse exemplo utiliza o pacote multer para lidar com o upload de imagens e o pacote mysql para se conectar ao banco de dados MySQL. O código assume que você já p"} ,
                        ]
                    }

                ]
            } 
            const { product } = pizza
            const pizzas = product.map(pz => pz.pizzas)
            
            const containerAll = product.map( el => { return (
                `<h4 style="margin-left: 20px;" class="color-default-tomato">${el.category}</h4>
                <div id="containerRowPizza" class="container-row-pizza">`+ 
                el.pizzas.map((pz) => { return (
                    `<div id="${pz.id}"  onclick="getInfo(this)" class="container-pizza">
                        <div id=""  class="content-pizza">
                            <img class="big-pizza" src="${pz.path}" alt="">
                            <div class="content-info-pizza">
                                <h4 class="color-default-tomato">${pz.nome}</h4>
                                <h5 class="color-default-tomato">${pz.preco}, 00kz</h5>
                                <!---<del><h6>${ (pz.preco - ( pz.preco * (parseInt(Math.random()*20)/100))) },00kz</h6></del>--->
                                <div class="container-rate">
                                    ${rates(pz.avaliacao)}
                                    
                                    <!---<img src="/public/img/ico/icons8_stars_16.png" alt="">-->
                                </div>
                            </div>
                            
                        </div>
                    </div>`)
                }))    
            })
             
                function rates(value) {
                    (value == 0? value += 1: value = value)
                    let rate = `<img src="/public/img/ico/icons8_star_16.png" alt="">`
                    for (let i = 1; i < 5; i++) {
                        if(i == value){
                            rate += `<img src="/public/img/ico/icons8_star_filleds_16.png" alt="">`
                        }
                        else if(i < value){

                            rate += `<img src="/public/img/ico/icons8_star_16.png" alt="">`
                        }else{
                            rate += `<img src="/public/img/ico/icons8_star_filleds_16.png" alt="">`
                        }
                    }
                    return rate + `<span style="color: tomato;">${value}</span>` 
                }
                function ratesb(value) {
                    const width = 15;
                    const height = 15;
                    (value == 0? value += 1: value = value)
                    let rate = `<img style="width: ${width}; height: ${height}px" src="/public/img/ico/icons8_starw_16.png" alt="">`
                    for (let i = 1; i < 5; i++) {
                        if(i >= value){
                            rate += `<img style="width: ${width}; height: ${height}px" src="/public/img/ico/icons8_star_filleds_16.png" alt="">`
                        }
                        else if(i < value){

                            rate += `<img style="width: ${width}; height: ${height}px" src="/public/img/ico/icons8_starw_16.png" alt="">`
                        }else{
                            rate += `<img style="width: ${width}; height: ${height}px" src="/public/img/ style="width: ${width}; height: ${height}px"ico/icons8_star_filleds_16.png" alt="">`
                        }
                    }
                    return rate + `<span style="color: white;">${value}</span>` 
                }
            containerAll.forEach(el => {
                containerAllPizza.innerHTML += el      
            })
            function select(element) {
                element.style.transition = "0.3s"
                const containerSize = document.getElementById("containerSize") 
                const price = document.getElementById("price")
                const btnPedir = document.getElementById("btnPedir")
                for (let i = 0; i < containerSize.children.length; i++) {
                    containerSize.children[i].style.backgroundColor = "silver"                         
                }
                element.style.backgroundColor = "tomato"
                price.innerHTML = "Total:" + (1200*element.id) + ", 00kz"
                btnPedir.style.backgroundColor = "tomato"
                btnPedir.setAttribute("class", "radius-btn-active")

            }
            function getInfo(element) {
                window.scrollTo({
                    top: 0 // Para uma rolagem suave, adicione esta opção
                });
                containerInfo.focus()
                pizzas.forEach((cat) => {
                    cat.forEach(pz => {
                        console.log(pz.nome)
                        if(pz.id == element.id){
                             containerInfo.innerHTML = `
                             
                            <div class="content-photo-name" style="background-image: url('${pz.path}');">
                            </div>
                            <section class="container-info-tomato">
                                <div class="content-name">
                                    <h3 class="color-white">${pz.nome}</h3>
                                    <div class="container-rate">
                                                ${ratesb(pz.avaliacao)}                                    
                                            </div>
                                    <button onClick="addCart(this)" class="navigatio-button"><img src="/public/img/ico/icons8_shopping_cart_32.png" alt=""></button>
                                    
                                </div>
                                <div class="controls">
                                    <div class="c">
                                        <button id="btnCloseInfo" onClick="closeInfo()" class="navigatio-button"><img src="/public/img/ico/icons8_delete_32.png" alt=""></button>
                                    <a href="/views/cart.html"><button class="navigatio-button"><img src="/public/img/ico/icons8_shopping_cart_32.png" alt=""></button></a>
                                        </div>
                                    
                                    <div class="focus">
                                        <img class="photoPizza" src="${pz.path}" alt="">
                                        </div>
                                        </div>
                                        <div id="contentInfo" class="content-info">
                                        
                                        <div id="containerSize" class="container-size">
                                            `+
                                            tamanho.map((el) => { return(
                                            `<div id="${el}" onClick ="select(this)" class="content-size">
                                                <img width="40px" height="40px" src="/public/img/ico/icons8_pizzaw_32.png" alt="">
                                                <h6 class="color-white">${el*4}, kz</h5>
                                                <h6 class="color-white">${el} pedaços</h6>
                                            </div>`)
                                            }) + `
                                        </div>
                                        
                                         <div class="content-price">
                                             <h3 id="price" class="color-default-tomato">Preço: ${pz.preco}, 00kz</h3>
                                         </div>
                                         <div class="more-button">
                                             <button id="btnPedir"  class="radius-btn">pedir</button>
                                         </div>
                                         <div class="more-info">
                                             <h3>Descrição</h3>
                                             <h4 class="color-default-silver">
                                                 ${pz.descricao}
                                             </h4>
                                             <h3 class="color-default-tomato">avaliacao</h3>
                                             <div class="container-rate">
                                                ${rates(parseInt(pz.avaliacao))}                                    
                                            </div>
                                         </div>
                                 </div>
                            </section>`
                            }
                        })
                })
                
                containerInfo.style.display = "flex"
                const btnPedir =  document.getElementById("btnPedir")
                btnPedir.addEventListener("click", () => {
                 if(btnPedir.style.backgroundColor == "tomato")
                     window.location.href = "/views/addLocation.html"
             })

            }
            function closeInfo() {
                containerInfo.style.display = "none"
                containerInfo.style.transition = "all 2s"
                
            }

            var cat = Math.random() * 3
            var pz = Math.random() * 5
            const containerSuge = document.getElementById("containerSuge")

            containerSuge.innerHTML = `<div class="content-suge">  
                <div class="content-suge-info">
                    <h4 class="color-white">Acabadinha de sair do forno</h5>
                    <button id="${product.at(cat).pizzas.at(pz).id}" onclick="getInfo(this)" class="radius-btn">Fazer pedido</button>
                </div>
                <img id="img-suge" class="big-pizza" src="${product.at(cat).pizzas.at(pz).path}" alt="">
            </div>`
        setInterval(() => {
            cat = Math.random() * 3
            pz = Math.random() * 5
            containerSuge.innerHTML = `<div class="content-suge">  
                <div class="content-suge-info">
                    <h4 class="color-white">Acabadinha de sair do forno</h5>
                    <button id="${product.at(cat).pizzas.at(pz).id}" onclick="getInfo(this)" class="radius-btn">Fazer pedido</button>
                </div>
                <img id="img-suge" class="big-pizza" src="${product.at(cat).pizzas.at(pz).path}" alt="">
            </div>` 
        }, 3000);
        window.addEventListener("scroll", (event) => {
            console.log(window.scrollY)
            if(window.scrollY >= 184)
                document.getElementById("containerInfo").style.position = "fixed"
        })
        
        let activado = true
        function addCart(element) {
            activado = !activado
            if(!activado)
                element.children[0].src = "/public/img/ico/icons8_shopping_cartp_32.png"
            else
                element.children[0].src = "/public/img/ico/icons8_shopping_cart_32.png"   
        }






        function openMenu() {
            containerMenu.style.display = "flex"
        }
        function closeMenu() {
            containerMenu.style.display = "none"
            
        }
















    </script>
</body>
</html>