<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styleSheet/default-colors/colorDefault.css">
    <link rel="stylesheet" href="/public/styleSheet/default-config/config.css">
    <link rel="stylesheet" href="/public/styleSheet/default-fontStyle/default-fontFamily.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-input.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/container-poupup.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-gif-load.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/circle-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/radius-btn.css">
    <link rel="stylesheet" href="/public/styleSheet/views-styleSheets/home.css">
</head>
<body style="background-color: #f8f8f8;">
    <div class="container-main">
        <div class="container-header">
            <div class="btn-navigaor">
                <img src="/public/img/ico/icons8_squared_menu_32.png" alt="">
                <img src="/public/img/ico/icons8_shopping_cart_32.png" alt="">
            </div>
            <div class="content-location">
                <img src="/public/img/ico/icons8_Location_32.png" alt="">
                <h5 class="color-default-tomato">Angola, Luanda</h5>

            </div>
            <div class="content-input">
                <img src="/public/img/ico/icons8_search_16.png" alt="">
                <input class="input" placeholder="pesquisar" type="text">

            </div>

        </div>
        <div class="container-category">
            <div class="content-category">
                <button class="circle-btn-default"> <img src="/public/img/ico/icons8_commercial_32.png" alt=""></button>
                <h6 class="color-default-tomato">Promoção</h6>

            </div>
            <div class="content-category">
                <button class="circle-btn-silver"> <img src="/public/img/ico/icons8_commercial_32.png" alt=""></button>
                <h6 class="color-default-silver">Promoção</h6>

            </div>
            <div class="content-category">
                <button class="circle-btn-silver"> <img src="/public/img/ico/icons8_commercial_32.png" alt=""></button>
                <h6 class="color-default-silver">Promoção</h6>

            </div>
            <div class="content-category">
                <button class="circle-btn-silver"> <img src="/public/img/ico/icons8_commercial_32.png" alt=""></button>
                <h6 class="color-default-silver">Promoção</h6>

            </div>
            <div class="content-category">
                <button class="circle-btn-silver"> <img src="/public/img/ico/icons8_commercial_32.png" alt=""></button>
                <h6 class="color-default-silver">Promoção</h6>

            </div>
        </div>
        <div class="container-suge">
            <div class="content-suge">  
                <div class="content-suge-info">
                    <h4 class="color-white">Acabadinha de sair do forno</h5>
                    <button class="radius-btn">Fazer pedido</button>
                </div>
                <img class="big-pizza" src="/public/img/pizza/pizza14.jpg" alt="">

            </div>
        </div>
        <h4 class="color-default-tomato">Promoção</h4>
        <div class="container-row-pizza">
            <div class="container-pizza">
                <div class="content-pizza">
                    <img class="big-pizza" src="/public/img/pizza/pizza6.png" alt="">
                    <div class="content-info-pizza">
                        <h4 class="color-default-tomato">pizza Francesa</h4>
                        <h5 class="color-default-tomato">2350.00kz</h5>
                        <del><h6>3500,00kz</h6></del>
                        <div class="container-rate">
                            <h5>Avaliações</h5>
    
                        </div>
                    </div>
                    <div class="content-descont">
                        <h5 class="color-white">4%</h5>
                    </div>
                </div>
            </div>
            <div class="container-pizza">
                <div class="content-pizza">
                    <img class="big-pizza" src="/public/img/pizza/pizza6.png" alt="">
                    <div class="content-info-pizza">
                        <h4 class="color-default-tomato">pizza Francesa</h4>
                        <h5 class="color-default-tomato">2350.00kz</h5>
                        <del><h6>3500,00kz</h6></del>
                        <div class="container-rate">
                            <h5>Avaliações</h5>
    
                        </div>
                    </div>
                    <div class="content-descont">
                        <h5 class="color-white">7%</h5>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="color-default-tomato">Promoção</h4>
        <div class="container-row-pizza">
            <div class="container-pizza">
                <div class="content-pizza">
                    <img class="big-pizza" src="/public/img/pizza/pizza6.png" alt="">
                    <div class="content-info-pizza">
                        <h4 class="color-default-tomato">pizza Francesa</h4>
                        <h5 class="color-default-tomato">2350.00kz</h5>
                        <del><h6>3500,00kz</h6></del>
                        <div class="container-rate">
                            <h5>Avaliações</h5>
    
                        </div>
                    </div>
                    <div class="content-descont">
                        <h5 class="color-white">4%</h5>
                    </div>
                </div>
                
            </div>
            <div class="container-pizza">
                <div class="content-pizza">
                    <img class="big-pizza" src="/public/img/pizza/pizza6.png" alt="">
                    <div class="content-info-pizza">
                        <h4 class="color-default-tomato">pizza Francesa</h4>
                        <h5 class="color-default-tomato">2350.00kz</h5>
                        <del><h6>3500,00kz</h6></del>
                        <div class="container-rate">
                            <h5>Avaliações</h5>
    
                        </div>
                    </div>
                    <div class="content-descont">
                        <h5 class="color-white">7%</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>