<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styleSheet/default-colors/colorDefault.css">
    <link rel="stylesheet" href="/public/styleSheet/default-config/config.css">
    <link rel="stylesheet" href="/public/styleSheet/default-fontStyle/default-fontFamily.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-input.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/container-poupup.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-gif-load.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/circle-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/radius-btn.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/control-button.css">
    <link rel="stylesheet" href="/public/styleSheet/views-styleSheets/markOnMap.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Mapa com Leaflet</title>
</head>
<body>
    <div class="container-main">
        <div class="btn-navigaor">
            <a href="/views/addLocation.html"><button id="btnBack" class="control-button"><img src="/public/img/ico/icons8_Close_32.png" alt=""></button></a>
            <button class="control-button" id="btnGetUserLocation"><img src="/public/img/ico/icons8_location_update_32.png" alt=""></button>
        </div>
        <div id="map">
          
      </div>
      <div  class="container-float-info">
        <div style="margin-top: 10px;" class="content-from">
            <div style=" gap: 65px; background-color: tomato;" class="content-input">
                <div class="store">
                    <img class="icoLocation" src="/public/img/ico/icons8_shopw_32.png" alt="">
                    <h5 class="color-white">Angola, Luanda, Cuca</h5>
                </div>
                <button style=" display: flex; justify-content: center;
                 align-items: center; background-color: tomato; width: 40px; height: 40px;" class="circle-btn-silver"><img src="/public/img/ico/icons8_phone_32.png" alt=""></button>
            </div>

        </div>
        <div class="content-float-info">
            
            <div class="content-from-to">
                <div class="content-from">
                    <div class="content-input">
                        <img class="icoLocation" src="/public/img/ico/icons8_shop_32.png" alt="">
                        <div class="content-txt">
                            <h6 class="color-default-silver">Nossa loja mais proxima</h4>
                            <h5 class="color-default-tomato">Luanda, cuca</h5>

                        </div>
                    </div>
    
                </div>
                <img class="arrow" src="/public/img/ico/icons8_down_right_32.png" alt="">
                <div class="content-to">
                    <div class="content-input">
                        <img class="icoLocation" src="/public/img/ico/icons8_Location_32.png" alt="">
                        <div class="content-txt">
                            <h6 class="color-default-silver">Voce</h4>
                            <h5 class="color-default-tomato">Sua localização actual</h5>

                        </div>
                    </div>
                </div>
            </div>
            <button id="btnNext" style="height: 50px; background-color: tomato; color: white;" class="radius-btn">Avançar</button>
        </div>

      </div>
    </div>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script>
    const btnGetUserLocation = document.getElementById("btnGetUserLocation")
    const btnNext = document.getElementById("btnNext")
    const  map = L.map('map' , { zoomControl: false})
    const storeLocation = [
        { name: "Loja Luanda, cuca", latitude: -8.874501509225118, longitude:13.267465560202256},
        { name: "Loja Luanda, Mutamba", latitude: -8.861703872168524, longitude:13.256954935368412},
        { name: "Loja Luanda, São paulo", latitude: -8.8638708676955, longitude:13.310945034027101},
        { name: "Loja Luanda, Vila lice", latitude: -8.8638708676955, longitude:13.310945034027101},
        { name: "Loja Luanda, Rangel", latitude: -8.830105088772035, longitude:13.231389510940373},
        {name: "Loja Luanda, hoji ya henda", latitude: -8.944469891753569, longitude:13.203376220722623},
        {name: "Loja Luanda, sambizanga", latitude: -9.004107265149681, longitude:13.378733891074784},
        {name: "Loja Luanda, Cacuaco", latitude: -8.807649451287533, longitude:13.28190625172582},
        {name: "Loja Luanda, prenda lote 22", latitude: -8.810034082707164, longitude:13.300906942749863},
        {name: "Loja Luanda, mabor", latitude: -8.813680186021543, longitude:13.260207687230395},
        {name: "Loja Luanda, Golf2", latitude: -8.909053466519461, longitude:13.24923715365702},

    ]
    navigator.geolocation.getCurrentPosition((position) => {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            map.setView([0,0], 13);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
            map.flyTo([latitude, longitude], 15);
            L.marker([latitude, longitude]).addTo(map)
          .bindPopup("Você está aqui!")
          .openPopup();
          addStoreLocation(storeLocation)
          
        })
        function addStoreLocation(location) {
        var iconStore = L.icon({
          iconUrl: '/public/img/ico/icons8_shop_location_48.png',
          iconSize: [32, 32], // Tamanho do ícone em pixels (largura, altura)
        });
        storeLocation.forEach(location => {
            L.marker([location.latitude, location.longitude], {icon: iconStore})
            .addTo(map)
        })
        
    }
        btnGetUserLocation.addEventListener("click", () => {
            navigator.geolocation.getCurrentPosition((position) => {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                map.flyTo([latitude, longitude], 15)
                L.marker([latitude, longitude]).addTo(map)
                .bindPopup("Você está aqui!")
                .openPopup();
        })
        
    })
    btnNext.addEventListener("click", () => {
        window.location.href = "/views/methodPayment.html"
    })
  </script>
</body>
</html>