<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/public/styleSheet/default-colors/colorDefault.css">
    <link rel="stylesheet" href="/public/styleSheet/default-config/config.css">
    <link rel="stylesheet" href="/public/styleSheet/default-fontStyle/default-fontFamily.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-input.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/container-poupup.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-gif-load.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/circle-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/radius-btn.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/control-button.css">
    <link rel="stylesheet" href="/public/styleSheet/views-styleSheets/methodPayment.css">
</head>
<body style="background-color: #f8f8f8;">
    <div class="container-main">
        <section id="containerPoupup">
            <div class="content-loading">
                <h3 class="color-white">
                    Seu pedido <br> está sendo processado
                </h3>
                <img class="loading" src="/public/img/ico/Dual Ring-1s-200px.gif" alt="">
            </div>
    
        </section>
        <div class="container-header">
            <div class="btn-navigaor">
                <a href="/views/home.html"><button id="btnBack" class="navigatio-button"><img src="/public/img/ico/icons8_Close_32.png" alt=""></button></a>
            </div>
            <h3 class="color-default-tomato">Nossos métodos de pagamento</h4>
        </div>
        <div class="container-input">
            <div class="content-input">
                <input placeholder="número do cartão" class="input" type="text">
            </div>
            <div class="content-input">
                <input placeholder="CVV" class="input" type="text">
            </div>
            <div class="content-input">
                <input placeholder="MM/AA" class="input" type="text">
            </div>
            <div class="content-input">
                <input placeholder="pin" class="input" type="text">
            </div>
            <img style="width: 100%;" src="/public/img/logo/metodos de pagamento.PNG" alt="">
            <h4 class="color-default-tomato">Seus cartoes de credito</h4>
            <div class="container-row-credit-card">
                <div class="content-credit-card">
                    <div class="content-radio"><input id="radio" class="radio" type="radio" name="" id=""></div>
                    <h4 class="color-default-silver">0025 1343 1**** ***** **** ****</h3>
                    <div class="content-credit-card-footer">
                        <h6>Este cartão está em nome de <br> <span class="color-default-tomato">Leonardo Jorge</span></h6>
                        <img src="/public/img/logo/visita.PNG" alt="">
                    </div>
                </div>
            </div>
            <button id="btnDone" style="color: white; background-color: silver; height: 50px;" class="radius-btn">Concluir</button>
        </div>
    </div>

    <script>
        const radio = document.getElementById("radio")
        const btnDone = document.getElementById("btnDone")
        const containerPoupup = document.getElementById("containerPoupup")
        radio.addEventListener("change",() =>{
            btnDone.style.backgroundColor = "tomato"
            btnDone.setAttribute("class", "radius-btn-active")

            btnDone.addEventListener("click", () => {
                containerPoupup.style.display = "flex"
                setTimeout(() => {
                    // containerPoupup.style.display = "none"
                    containerPoupup.innerHTML = `
                    <div class="content-loading">
                        <h3 class="color-white">
                            Pedido feito com sucesso
                        </h3>
                        <img class="loading" src="/public/img/ico/icons8_ok_48.png" alt="">
                    </div>` 
                    setTimeout(() => {
                        window.location.href = "/views/status.html"
                    }, 3000)
                }, 4000);
            })
        })
    </script>
</body>
</html>