<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styleSheet/default-colors/colorDefault.css">
    <link rel="stylesheet" href="/public/styleSheet/default-config/config.css">
    <link rel="stylesheet" href="/public/styleSheet/default-fontStyle/default-fontFamily.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-input.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/container-poupup.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-gif-load.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/circle-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/radius-btn.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/control-button.css">
</head>
<body>
    <div class="container-main">
        <div class="container-header">
            <div class="btn-navigaor">
                <button onclick="openMenu()" class="navigatio-button"><img src="/public/img/ico/icons8_squared_menu_32.png" alt=""></button>
                <button class="navigatio-button"></button>
            </div>
        </div>
    </div>
</body>
</html>