<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styleSheet/default-config/config.css">
    <link rel="stylesheet" href="/public/styleSheet/default-colors/colorDefault.css">
    <link rel="stylesheet" href="/public/styleSheet/default-fontStyle/default-fontFamily.css">
    <link rel="stylesheet" href="/public/styleSheet/views-styleSheets/sig-in.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-input.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-button.css">
</head>
<body>
    <div class="container-main">
        <span style="font-size: 25px; margin-left: -200px; margin-top: -10px;" class="color-white"> Criar conta</span>
        <div class="container-logo">
            <img class="small-logo" src="/public/img/logo/logo.png" alt="">
        </div>
        <div class="container-input">
            <div class="content-input">
                <img src="/public/img/ico/icons8_user_16.png" alt="">
                <input placeholder="nome" class="input" type="text">
            </div>
            <div class="content-input">
                <img src="/public/img/ico/icons8_user_16.png" alt="">
                <input placeholder="nome" class="input" type="text">
            </div>
            <div class="content-input">
                <img src="/public/img/ico/icons8_user_16.png" alt="">
                <input placeholder="nome" class="input" type="text">
            </div>
            <div class="content-input">
                <img src="/public/img/ico/icons8_user_16.png" alt="">
                <input placeholder="nome" class="input" type="text">
            </div>
            <button class="button">Criar</button>
        </div>
    </div>
</body>
</html>