<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styleSheet/default-colors/colorDefault.css">
    <link rel="stylesheet" href="/public/styleSheet/default-config/config.css">
    <link rel="stylesheet" href="/public/styleSheet/default-fontStyle/default-fontFamily.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-input.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/container-poupup.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/default-gif-load.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/circle-button.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/radius-btn.css">
    <link rel="stylesheet" href="/public/styleSheet/default-components/control-button.css">

    <link rel="stylesheet" href="/public/styleSheet/views-styleSheets/status.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <title>Mapa com Leaflet</title>
</head>
<body>
    <div class="container-main">
        <section id="containerRateDeliver">
            <div class="containerDeliverRate">
                <h3 class="color-default-tomato">Avaliação do entregador</h3>
                <img style="width: 90px; height: 90px; border-radius: 100%;" src="/public/img/people/Red-Skull-Allied-Charge-on-Hydra-Premium-Format-01.jpg
                " alt="">
                <h4 class="color-default-tomato">Leonardo Jorge</h4>
                <div id="value">
                    <img id="1" class="imgRate" onclick="valueRate(this)" src="/public/img/ico/icons8_starb_32.png" alt="">
                    <img id="2" class="imgRate" onclick="valueRate(this)" src="/public/img/ico/icons8_starb_32.png" alt="">
                    <img id="3" class="imgRate" onclick="valueRate(this)" src="/public/img/ico/icons8_starb_32.png" alt="">
                    <img id="4" class="imgRate" onclick="valueRate(this)" src="/public/img/ico/icons8_starb_32.png" alt="">
                    <img id="5" class="imgRate" onclick="valueRate(this)" src="/public/img/ico/icons8_starb_32.png" alt="">
                     
                </div>
                <button onclick="sendRate()" class="radius-btn" style="height: 50px; background-color: tomato; color: white; ">Enviar</button>
        
            </div>
        </section>
        <section id="containerPoupupLoader">
            <div class="content-loading">
                <h3 class="color-white">
                    Enviando avaliação
                </h3>
                <img class="loading" src="/public/img/ico/Dual Ring-1s-200px.gif" alt="">
            </div>
        
        </section>
        <section id="containerPoupup">
            <div class="btn-navigaor">
                <button id="btnCloseQrcode" class="navigatio-button"><img src="/public/img/ico/icons8_Close_32.png" alt=""></button>
                <button class="navigatio-button" id="btnGetUserLocation"><img src="/public/img/ico/icons8_location_update_32.png" alt=""></button>
            </div>
            <div class="content-qrcode">
                <img width="150px" height="150px" src="/public/img/ico/qr_code_48px.png" alt="">
            </div>
            <div class="container-help">
                <p class="color-default-tomato">
                    Não sabe oque fazer com o qrCode?
                </p>
                <p>
                    1. Quando a sua pizza chegar <strong>mostre este Qrcode</strong> oa entregador
                </p>
                <p>
                    2. O entregador irá <strong>escanear</strong> o <strong>seu QRcode</strong>
                </p>
                <p>
                    3. E a sua entraga estará <strong>concluída</strong>
                </p>

            </div>
    
        </section>
        <section id="containerCall">
            
            <div class="content-info">
                <img style="border-radius: 100%;" width="150px" height="150px" src="/public/img/people/Red-Skull-Allied-Charge-on-Hydra-Premium-Format-01.jpg" alt="">
                <h5 class="color-default-silver">Chamando...</h5>
                <h3 class="color-default-tomato">
                    Leonardo Jorge
                </h4>
                <button onclick="endCall()" style=" border-radius: 100%; width: 70px; height: 70px;  background-color: white; box-shadow: 0px 0px 5px rgba(0,0,0,0.3);" class="navigatio-button"><img src="/public/img/ico/icons8_call_32.png" alt=""></button>
            </div>

        </section>

        <section id="containerOrderInfo">
            <div class="btn-navigaor">
                <button id="btnCloseOrderInfo" class="navigatio-button"><img src="/public/img/ico/icons8_Close_32.png" alt=""></button>
                <button class="navigatio-button" id="btnGetUserLocation"><img src="/public/img/ico/icons8_location_update_32.png" alt=""></button>
            </div>
            <div class="content-from-to2">
                <h3 class="title">Pontos</h3>
                <div class="content-from">
                    <div class="content-input2">
                        <img class="icoLocation" src="/public/img/ico/icons8_shop_32.png" alt="">
                        <div class="content-txt">
                            <h6 class="color-default-silver">Nossa loja mais proxima</h4>
                            <h5 class="color-default-tomato">Luanda, cuca</h5>

                        </div>
                    </div>
    
                </div>
                <img style=" margin-left: -270px; transform: rotate(45deg);" src="/public/img/ico/icons8_down_right_32.png" alt="">
                <div class="content-to">
                    <div class="content-input2">
                        <img class="icoLocation" src="/public/img/ico/icons8_Location_32.png" alt="">
                        <div class="content-txt">
                            <h6 class="color-default-silver">Voce</h4>
                            <h5 class="color-default-tomato">Sua localização actual</h5>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container-order-products">
                <h3 class="title">Produtos</h3>
                <div class="container-order-products-row">
                    <div class="content-order-product">
                        <div class="product-info">
                            <div class="product-photo">
                                <img style="margin: 0px;width: 70px; height: 70px;"src="/public/img/pizza/pizza20.jpeg" alt="">
                            </div>
                            <div class="product-sizes">
                                <h6>tam: 24p</h4>
                                <h6>Qunt: x3</h4>
                                <h6>peso: 0.4kg</h4>
                            </div>
                        </div>
                        <div class="name">
                            <h6 class="color-default-tomato">pizza margarine</h5>

                        </div>
                    </div>
                    <div class="content-order-product">
                        <div class="product-info">
                            <div class="product-photo">
                                <img style="margin: 0px;width: 70px; height: 70px;"src="/public/img/pizza/pizza20.jpeg" alt="">
                            </div>
                            <div class="product-sizes">
                                <h6>tam: 24p</h4>
                                <h6>Qunt: x3</h4>
                                <h6>peso: 0.4kg</h4>
                            </div>
                        </div>
                        <div class="name">
                            <h6 class="color-default-tomato">pizza margarine</h5>

                        </div>
                    </div>
                    <div class="content-order-product">
                        <div class="product-info">
                            <div class="product-photo">
                                <img style="margin: 0px;width: 70px; height: 70px;"src="/public/img/pizza/pizza20.jpeg" alt="">
                            </div>
                            <div class="product-sizes">
                                <h6>tam: 24p</h4>
                                <h6>Qunt: x3</h4>
                                <h6>peso: 0.4kg</h4>
                            </div>
                        </div>
                        <div class="name">
                            <h6 class="color-default-tomato">pizza margarine</h5>

                        </div>
                    </div>

                </div>
            </div>
            <div class="container-deliver">
                <h3 class="title">Entregador</h3>
                <div class="content-deliver">
                    <div class="orders">
                        <h4 class="color-default-silver">Entregas</h4>
                        <h2 class="color-default-tomato">23</h2>
                    </div>
                    <div class="info">
                        <h4 class="color-default-tomato">Leonardo Jorge</h4>
                        <div id="contentRate" class="container-rate">
                            
                            
                        </div>
                    </div>
                    <div class="photo">
                        <img style="border-radius: 100%;" width="60px" height="60px" src="/public/img/people/Red-Skull-Allied-Charge-on-Hydra-Premium-Format-01.jpg" alt="">
                    </div>
                </div>

            </div>
            <div class="container-payment">
                <h3 class="title">Pagamento</h3>
                <div class="content-total">
                    <h3 class="color-default-silver">Total: </h3>
                    <h3 class="color-default-tomato">7340, 00kz</h3>
                </div>

            </div>
        </section>
        <div class="btn-navigaor">
            <a href=""><button id="btnBack" class="navigatio-button"><img src="" alt=""></button></a>
            <button class="navigatio-button" id="btnGetUserLocation"><img src="/public/img/ico/icons8_location_update_32.png" alt=""></button>
        </div>
        <div id="map">
          
      </div>
      <div  class="container-float-info">
        <div style="margin-top: 10px;" class="content-from">
            <div style=" gap: 25px; background-color: tomato;" class="content-input">
                <div class="store">
                    <img class="small-photo" src="/public/img/people/Red-Skull-Allied-Charge-on-Hydra-Premium-Format-01.jpg" alt="">
                    <div class="content-name-rate">
                        <h5 class="color-white"> Leonardo Jorge</h5>
                        <div id="rate" class="container-rate">
                            
                        </div>
                    </div>
                </div>
                <button onclick="openCall()" style=" display: flex; justify-content: center;
                 align-items: center; background-color: tomato; width: 40px; height: 40px;" class="navigatio-button"><img src="/public/img/ico/icons8_phone_32.png" alt=""></button>
                 <button class="navigatio-button" onclick="favorite(this)" style=" border: none; display: flex; justify-content: center;
                 align-items: center; background-color:tomato; width: 40px; height: 40px;"><img src="/public/img/ico/icons8_Favorite_32.png" alt=""></button>
            </div>

        </div>
        <div class="content-float-info">
            <div class="container-Status">
                <div class="icon">
                    <img id="deliver_status" src="/public/img/ico/icons8_scooter_32.png" alt="">
                    

                </div>
                <div class="content-progressbar">
                    <div class="content-progress">

                    </div>

                </div>
                <h6 class="color-default-tomato">Estimativa de entrega em 14min</h6>

            </div>
            <div class="content-from-to">
                <div class="content-from">
                    <div class="content-input">
                        <img class="icoLocation" src="/public/img/ico/icons8_shop_32.png" alt="">
                        <div class="content-txt">
                            <h6 class="color-default-silver">Nossa loja mais proxima</h4>
                            <h5 class="color-default-tomato">Luanda, cuca</h5>

                        </div>
                    </div>
    
                </div>
                <div class="content-to">
                    <div class="content-input">
                        <img class="icoLocation" src="/public/img/ico/icons8_Location_32.png" alt="">
                        <div class="content-txt">
                            <h6 class="color-default-silver">Voce</h4>
                            <h5 class="color-default-tomato">Sua localização actual</h5>

                        </div>
                    </div>
                </div>
            </div>
            <div class="content-footer">
                <button onclick="openInfo()"   class="navigatio-button"><img src="/public/img/ico/icons8_info_32.png" alt=""></button>
                <button id="btnQrCode" class="navigatio-button"><img src="/public/img/ico/icons8_Qr_Code_32.png" alt=""></button>
                <button onclick="openCall()"   class="navigatio-button"><img src="/public/img/ico/icons8_phones_32.png" alt=""></button>

            </div>
        </div>

      </div>
    </div>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    
  <script>
    const btnGetUserLocation = document.getElementById("btnGetUserLocation")
    const containerPoupup = document.getElementById("containerPoupup")
    const btnCloseQrcode = document.getElementById("btnCloseQrcode")
    const btnQrCode = document.getElementById("btnQrCode")
    const btnNext = document.getElementById("btnNext")
    const btnCall = document.getElementById("btnCall")
    const btnInfo = document.getElementById("btnInfo")
    const btnCloseCall = document.getElementById("btnCloseCall")
    const containerCall = document.getElementById("containerCall")
    const btnCloseOrderInfo = document.getElementById("btnCloseOrderInfo")
    const containerOrderInfo = document.getElementById("containerOrderInfo")
    const contentRate = document.getElementById("contentRate")





    const  map = L.map('map' , { zoomControl: false})
    var markers = []
    var userPosition 
    const storeLocation = [
        { name: "Loja Luanda, cuca", latitude: -8.874501509225118, longitude:13.267465560202256},
        { name: "Loja Luanda, Mutamba", latitude: -8.861703872168524, longitude:13.256954935368412},
        { name: "Loja Luanda, São paulo", latitude: -8.8638708676955, longitude:13.310945034027101},
        { name: "Loja Luanda, Vila lice", latitude: -8.8638708676955, longitude:13.310945034027101},
        { name: "Loja Luanda, Rangel", latitude: -8.830105088772035, longitude:13.231389510940373},
        {name: "Loja Luanda, hoji ya henda", latitude: -8.944469891753569, longitude:13.203376220722623},
        {name: "Loja Luanda, sambizanga", latitude: -9.004107265149681, longitude:13.378733891074784},
        {name: "Loja Luanda, Cacuaco", latitude: -8.807649451287533, longitude:13.28190625172582},
        {name: "Loja Luanda, prenda lote 22", latitude: -8.810034082707164, longitude:13.300906942749863},
        {name: "Loja Luanda, mabor", latitude: -8.813680186021543, longitude:13.260207687230395},
        {name: "Loja Luanda, Golf2", latitude: -8.909053466519461, longitude:13.24923715365702},

    ]
    renderMap()
    getUserCurrentPosition()
    addStoreLocation(storeLocation)
    goToUserLocation()

    


    function renderMap() {
        map.setView([0,0], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    }
    function addStoreLocation(location) {
        var iconStore = L.icon({
          iconUrl: '/public/img/ico/icons8_shop_location_48.png',
          iconSize: [32, 32], // Tamanho do ícone em pixels (largura, altura)
        });
        storeLocation.forEach(location => {
            L.marker([location.latitude, location.longitude], {icon: iconStore})
            .addTo(map)

            haversineDistance(location.latitude, location.longitude, location.latitude, location.longitude)

            
            
        })
        
    }
    function valueRate(element) {
    for (let i = 0 ; i < 5 ; i++) {
        value.children[i].src ="/public/img/ico/icons8_starb_32.png"
    }
    for (let i = 0 ; i < element.id ; i++) {
        value.children[i].src ="/public/img/ico/icons8_starp_32.png"
    }       
}

    function traceRouter(lat1, lon1, lat2, lon2) {
        // URL da API de roteamento do OSRM
        var routeUrl = 'https://router.project-osrm.org/route/v1/driving/' + lon1 + ',' + lat1 + ';' + lon2 + ',' + lat2 + '?steps=true&geometries=geojson';

        // Traçar a rota na camada de mapas
        fetch(routeUrl)
        .then(response => response.json())
        .then(data => {
            var route = L.geoJSON(data.routes[0].geometry, {
            style: { color: 'red' }
            }).addTo(map);
        
        // Ajustar o zoom do mapa para exibir a rota completa
        map.fitBounds(route.getBounds());
  });
        
    }

    // Função para converter graus em radianos
    function toRadians(degrees) {
      return degrees * Math.PI / 180;
    }

    // Função para calcular a distância entre dois pontos usando a fórmula Haversine
    function haversineDistance(lat1, lon1, lat2, lon2) {
      var R = 6371; // raio da Terra em quilômetros
      var dLat = toRadians(lat2 - lat1);
      var dLon = toRadians(lon2 - lon1);
      var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
              Math.cos(toRadians(lat1)) * Math.cos(toRadians(lat2)) *
              Math.sin(dLon / 2) * Math.sin(dLon / 2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var distance = R * c;
      return distance;
    }

    function getUserCurrentPosition() {
        navigator.geolocation.getCurrentPosition((position) => {
            userPosition = {lat: position.coords.latitude, lon: position.coords.longitude}
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            var iconUser = L.icon({
              iconUrl: '/public/img/ico/icons8_user_location_48.png',
              iconSize: [40, 40], // Tamanho do ícone em pixels (largura, altura)
            });
            map.flyTo([latitude, longitude], 14);
            L.marker([latitude, longitude], {icon: iconUser})
            .addTo(map)
            .bindPopup("Voce está aqui", {closeOnClick: false})
            .openPopup()
            const  storeMoreNext  = moreNext(userPosition, storeLocation)
            setTimeout(() => {
                traceRouter(userPosition.lat, userPosition.lon,  storeMoreNext.coord.lat, storeMoreNext.coord.lon)    
            }, 5000)
        })
        
    }
    function sendRate() {
        const containerPoupupLoader = document.getElementById("containerPoupupLoader")
        containerPoupupLoader.style.display = "flex"
            setTimeout(() => {
                containerPoupupLoader.innerHTML = `
                    <div class="content-loading">
                        <h3 class="color-white">
                            Avaliação enviada com sucesso </br>
                            Sua compra está completa!
                        </h3>
                        <h4></h4>
                        <img class="loading" src="/public/img/ico/icons8_ok_48.png" alt="">
                    </div>` 
                    setTimeout(() => {
                        window.location.href = "/views/home.html"

                    }, 3000)
                }, 4000);
    }
    function goToUserLocation() {
        btnGetUserLocation.addEventListener("click", () => {
            navigator.geolocation.getCurrentPosition((position) => {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                map.flyTo([latitude, longitude], 15)
                L.marker([latitude, longitude]).addTo(map)
                .bindPopup("Você está aqui!")
                .openPopup();
            })
        })
    }


    
    
    
    function moreNext( obj, array) {
        var distances = []
        var storeMoreNext
        let min = 0
        let distance
        function construtor(name, lat, lon, distance){
            return {
                name: name,
                coord:{
                    lat: lat,
                    lon: lon
                },
                distance: distance
            }
        }
        var store
        for (let i = 0; i < array.length; i++) {
            distance = haversineDistance(userPosition.lat, userPosition.lon , array[i].latitude, array[i].longitude)
            if( i == 0){
                min = distance 
                storeMoreNext = construtor(array[i].name, array[i].latitude, array[i].longitude, min.toFixed(2))
            }
            if(distance < min){
                min = distance
                storeMoreNext = construtor(array[i].name, array[i].latitude, array[i].longitude, min.toFixed(2))
            }
        }            
        
        return storeMoreNext
    }
    

    function haversineDistance(lat1, lon1, lat2, lon2) {
        const earthRadius = 6371; // raio médio da Terra em quilômetros

        const dLat = toRadians(lat2 - lat1);
        const dLon = toRadians(lon2 - lon1);

        const a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.cos(toRadians(lat1)) * Math.cos(toRadians(lat2)) *
        Math.sin(dLon / 2) * Math.sin(dLon / 2);
        
        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        
        const distance = earthRadius * c;
        return distance;
    }
                            
document.getElementById("rate").innerHTML = rates(parseInt(Math.random() *5));

let activado = true
function favorite(element) {
    activado = !activado
    if(!activado)
        element.children[0].src = "/public/img/ico/icons8_Favoritep_32.png"
    else
        element.children[0].src = "/public/img/ico/icons8_Favorite_32.png"   

}

function rates(value) {
    (value == 0? value += 1: value = value)
    let rate = `<img class="smalStar" src="/public/img/ico/icons8_starw_16.png" alt="">`
    for (let i = 1; i < 5; i++) {
        if(i == value){
            rate += `<img class="smalStar" src="/public/img/ico/icons8_star_filleds_16.png" alt="">`
        }
        else if(i < value){

            rate += `<img class="smalStar" src="/public/img/ico/icons8_starw_16.png" alt="">`
        }else{
            rate += `<img class="smalStar" src="/public/img/ico/icons8_star_filleds_16.png" alt="">`
        }
    }
    return rate + `<span style="color: white;">${value}</span>`
}
    
    

    
    
    
   /* map.on('click', function(event) {
      var lat = event.latlng.lat; // Latitude do ponto clicado
      var lng = event.latlng.lng; // Longitude do ponto clicado
            alert("latitude: "+lat+ "longitude:" +lng)
      // Adicione um marcador no ponto clicado
      L.marker([lat, lng]).addTo(map);
    });*/
    const containerRateDeliver = document.getElementById("containerRateDeliver")
       
    btnQrCode.addEventListener("click", () => {
        containerPoupup.style.display = "flex"
        containerPoupup.style.display.transition = "2s"
        setTimeout(() => {
            containerRateDeliver.style.display = "flex"
            
        }, 5000)
    })
    btnCloseQrcode.addEventListener("click", () =>{
        containerPoupup.style.display = "none"
    })
    btnCloseOrderInfo.addEventListener("click", () => {
        containerOrderInfo.style.display = "none"
    })
    function openInfo() {
        containerOrderInfo.style.display = "flex"
        contentRate.innerHTML = rates(parseInt(Math.random() *5))
        
    }
    function openCall() {
        containerCall.style.display = "flex"
    }
    function endCall() {
        containerCall.style.display = "none"

    }
  </script>
</body>