.container-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.container-header{
width: 100%;
}

.btn-navigaor{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 200px;

}
.container-from-to{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

}
.content-from {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.content-to{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.arrow{
    transform: rotate(45deg);
    margin-left: -310px;
}
.content-search-on-map{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container-local-delivery{
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.content-row-local-delivery{
    width: 370px;
    display: flex;
    gap: 10px;
    overflow-x: scroll;

}
.content-local-delivery{
    background-color: silver;
    width: 80px;
    height: 80px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-search-on-map{
    margin-left: -100px;
}
.container-favorites-delivers{

    display: flex;
    flex-direction: column;
    gap: 15px;
}
.content-row-favorites-delivers{
    width: 370px;
    display: flex;
    gap: 10px;

}
.content-favorites-delivers{
    background-color: silver;
    width: 180px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo-name{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.small-photo{
    width: 60px;
    height: 60px;
    border-radius: 100%;

}
.container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}