
*{
    font-family: sans-serif;
}
body{
    background-color: #f8f8f8;
}
.container-main{
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.container-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn-navigaor{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

.content-location{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: -190px;
}
.container-category{
    padding: 30px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container-suge{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-suge{
    width: 85%;
    gap: 10px;
    background-color: tomato;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-suge-info{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.big-pizza{
    
    margin-top: -10px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.4);
    border-radius: 100px;
    width: 120px;
    height: 120px;
    transition: all 1s;
}
.container-all-pizza{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container-row-pizza{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container-pizza{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
.content-pizza:hover{
    transition: all 1s;
    box-shadow: 0px 0px 10px rgba(130, 130, 130, 0.2);
    
}
.content-pizza:active{
    transform: scale(2.0);
    transition: all 1s;
}

.content-pizza{
    width: 150px;
    margin: 0px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    padding: 15px;
}
.content-info-pizza{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-descont{
    position: absolute;
    background-color: tomato;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -205px;
    margin-left: 125px;
}

.container-info{
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    width: 100%;
    height: 130vh;
    margin-top: -206vh;
    gap: 20px;
    display: flex;
    z-index: 100px;
}
.photoPizza{
    border-radius: 100px;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.3);
}
.content-info{
    display: none;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    border-radius: 80px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.content-size{
    gap: 5px;
    width: 90px;
    height: 110px;
    border-radius: 15px;
    background-color: #d1d0d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-size{    
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.content-price{
    margin-left: 40px;
    z-index: 100px;
}
#btnPedir{
    background-color: silver;
    color: white;
    width: 120px; height: 50px; 
}
.more-button{
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.more-info{
    margin-left: 40px;
    color: tomato;
    display: flex;
    flex-direction: column;
    gap: 10px;
}