.container-main{

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.container-header{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    gap: 20px;
}
.container-row-credit-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}
.content-credit-card{
    width: 250px;
    height: 150px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
.content-radio{
    width: 100%;
    display: flex;
    justify-content: right;
}
.radio{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
.content-credit-card-footer{
    display: flex;

}