.container-main{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.small-logo{
    width: 150px;
    height: 120px;
}