.content-footer{
    display: flex;
    gap: 40px;
}
.status-btn{
    border: none;
    width: 60px;
    height: 55px;
    background-color: transparent;

}
.container-Status{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.content-progressbar{
    margin-bottom: 5px;
    width: 70%;
    height: 4px;
    border-radius: 20px;
    background-color: silver;
}
.content-progress{
    width: 25%;
    height: 4px;
    border-radius: 20px;
    background-color: tomato;
}
.arrow{
    height: 10px;
}
.icon{
    width: 70%;
    margin-top: 10px;
}
#deliver_status{
    width: 20px;
    height: 20px;
    margin-left: 12%;
}

#containerPoupup{
    background-color: #f8f8f8;
    display: none;
    z-index: 2000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.content-qrcode{
    background-color: white;
    border-radius: 20px;
    width: 65%;
    height: 200px;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: rgb(133, 133, 133);
    font-size: 14px;
}
strong{
    color: rgb(55, 55, 55);
}
.container-help{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-navigaor{top: 0px;
    display: flex;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 200px;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
}
#map{
width: 100%;
height: 100vh;
}
.container-float-info{
    width: 90%;
    height: 41vh;
    border-radius: 50px;
    bottom: 30px;
    background-color: tomato;
    position: absolute;
    z-index: 1000;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}
.content-float-info{
    padding-bottom: 10px;
    width: 100%;
    height: 30vh;
    border: 2px solid white;
    border-radius: 50px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    z-index: 1000;
    cursor: pointer;

}
.content-from-to{
    
}
.content-from{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow{
    transform: rotate(45deg);
}
.content-to{
    display: flex;

}
.content-input{
    display: flex;
    justify-content: left;
    gap: 10px;
}
.store{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-photo{
    width: 43px;
    height: 43px;
    border-radius: 100%;
}
.smalStar{
    width: 15px;
    height: 15px;

}
#containerPoupup-call{
    background-color: #f8f8f8;
    display: flex;
    z-index: 2000;
    flex-direction: column;
    gap: 20px;
}
#containerCall{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    position: fixed;
    z-index: 3000;


}
.content-loading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content-info{
    width: 100%;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}

#containerOrderInfo{
    display: none;
    padding-bottom: 50px;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    position: absolute;
    z-index: 3000;
    flex-direction: column;
    gap: 20px;

}

.content-from-to2{
    margin-top: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.title{
    color: silver;
    margin-left: -230px;

}
.content-input2{
    background-color: #f8f8f8;
    margin-left: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container-order-products{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container-order-products-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}
.content-order-product{
    width: 150px;
    height: 100px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.product-info{
    width: 100%;
    display: flex;
}
.product-sizes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-deliver{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.content-deliver{
    display: flex;
    border-radius: 15px;
    width: 80%;
    background-color: white;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-payment{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}
.content-total{
    display: flex;
    width: 85%;
    border-radius: 15px;
    height: 70px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}