.color-white{
    color: white;
}
.color-default-tomato{
    color: tomato;
}
.color-default-silver{
    color: silver;
}
.backgroundColor-white{
    color: white;
}
.backgroundColor-default-tomato{
    color: tomato;
}
.backgroundColor-default-silver{
    color: silver;
}